body {
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color:rgb(6, 156, 6) ;
}

li {
    list-style-type:none;
}

#box {
    border:1px solid;
    margin:400px;
    margin-top: 0px;
    padding: 20px;
}
#textode {
    float:left;
    padding-top: 20px;
}