body {
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color:rgb(6, 156, 6) ;
}

li {
    list-style-type:none;
}

#box {
    border:2px solid;
    margin:420px;
    margin-top: 0px;
<<<<<<< HEAD
    padding: 20px;
}
#textode {
    float:left;
    padding-top: 20px;
=======
    padding: 10px;
}

#coco {
    float:top;
    display: inline;
    padding:75px;
    color:white;
}
#cajita {
    background-color: black;
    padding: 10px;
    margin-left: 70px;
    margin-right: 50px;
    -webkit-box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.66);
    box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.66);
>>>>>>> Experiments
}