body {
    text-align: center;
    font-family:sans-serif
}
h1{
    color:darkgreen;
}

#box{
    border:2px solid;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
}
#text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    padding-left: 200px;
}