body {
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color:rgb(6, 156, 6) ;
}

li {
    list-style-type:none;
}

#box {
    border:1px solid;
    margin:420px;
    margin-top: 0px;
    padding: 10px;
}

#coco {
    float:top;
    display: inline;
    padding:75px;
}